{
    "development": {
        "username": "user",
        "password": "password",
        "database": "lockup",
        "host": "127.0.0.1",
        "dialect": "postgres",
        "operatorsAliases": false
    }
}